.user {

}

.users__navigation {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.users__list {
  list-style: none;
  padding: 0;
  display: grid;
  gap: 5px;
}

.users__userContent {
  display: flex;
  align-items: center;
  gap: 10px;
}

.users__userAvatar {
  max-width: 80px;
  border-radius: 80%;
}

.users__info {
  display: flex;
}

.users__about {
  display: flex;
  flex-direction: column;
}
