.profile__myPosts {
  padding-left: 20px;
}

.profile__postForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.profile__postFormButton {
  min-width: 150px;
  max-width: 300px;
  height: 30px;
  align-self: end;
  cursor: pointer;
}

.profile__postList {
  list-style: none;
  padding: 0;
  display: grid;
  gap: 5px;
}